.root{
    -fx-background-color: linear-gradient(to bottom right, skyblue, white);
}
#bar{
    -fx-background-color: darkblue;
}
#titleText{
    -fx-font-family: "Oswald";
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-fill: white;
    -fx-stroke: skyblue;
    -fx-stroke-width: 1;
}

#button{
    -fx-background-color: darkblue;
    -fx-font-family: "Oswald";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: white;

}
